| {% load staticfiles %}
mixin check_btn(text, id, active)
  .check_btn
    .btn(for="#{id}")
      - if active
        input(id="#{id}", type="radio", name="radio_btn", value="#{id}", checked)
      - else
        input(id="#{id}", type="radio", name="radio_btn", value="#{id}")
      label(for="#{id}")
        label.check_btn-label(for="#{id}") #{text}
        a.view(href="javascript:", data-descc="#{id}") ЗАБРОНИРОВАТЬ
        img(src="{% static '/images/ui/checkbtn-checkmark.png' %}")