extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  - var title = title
block styles
  //- link(rel="stylesheet", href="{% static 'css/blog.css' %}") 
  //- ТУТ НУЖНО ГЕНЕРИРОВАТЬ ОТДЕЛЬНЫЙ  CSS для БЛОГА (я не знаю где что поправить нужно, что бы это произошло)
  //- ...я так думаю и подключать по мере необходимости, что бы не раздувать main.css
block content
  section.container
    .row
      .col-xs-12.blog
        header 
          .blog__bg
            img(src="https://place-hold.it/900x250")
          h1.blog__header #{title}
          p.blog__desc #{desc}
          article.blog__content #{content}
        //-   h1 #{header}
        //- p #{description}
        //- article.blog_content